<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Puedes agregar estilos aquí para mejorar la presentación */
        .container {
            margin-top: 20px;
        }
        p {
            font-size: 16px;
            color: #333;
        }
    </style>
</head>
<body>
    <form id="miFormulario">
        <input type="text" name="Nombre" placeholder="Nombre" required>
        <input type="text" name="Edad" placeholder="Edad" required>
        <input type="text" name="Especie" placeholder="Especie" required>
        <input type="button" value="Enviar">
    </form>
    <div class="container"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
